<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyLotto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E2A9C9B1CC3EFE300DD2E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2A9CAF1CC3EFE300DD2E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2A9CBA1CC3EFE300DD2E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
